.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  min-width: 10rem;
}
  
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #282c34;
  height: 8vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.control-panel {
  width: 15vw;
  font-size: initial;
  font-weight: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-logo{
  display: flex;
}
.App-logo{
  width: 8vw;
}
.project-name{
  margin: auto;
}
.tab-container{
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.tab{
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}
.tab:hover{
  color: #888;
}
.project-selector{
  height: 100%;
  width: 20vw;
  background-color: #3a404b;
  list-style: none;
  margin: 0;
  padding: 0;
}